body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #222;
    color: #fff;
    background-attachment: fixed;
    font-family: 'Dubai Light', sans-serif;
    font-size: 2em;
}
@keyframes blurIn {
    0% {
        filter: blur(0px);
    }
    100% {
        filter: blur(5px);
    }
}
body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: inherit;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    animation: blurIn 1s forwards;
    z-index: -1;
    animation-delay: 500ms;
}

/* Title container and animation */
@keyframes titlePos  {
    0% {
        top: -10%;
        padding: 64px 10rem 16px;
    }
    100% {
        top: 20%;
        padding: 16px 8rem 16px;
    }    
}

@keyframes fadeIn {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

.section.intro-large {
    background-image: url(/img/drone-shot.jpg);
    z-index: -8;
}
.section.history-large {
    background-image: url(/img/history.jpg);
    z-index: -7;
}
.section.railway-large {
    background-image: url(/img/railway-station.jpg);
    z-index: -6;
}
.section.growth-large {
    background-image: url(/img/bule.jpeg);
    z-index: -5;
}
.section.infrastructure-large {
    background-image: url(/img/infrastructure.jpg);
    z-index: -4;
}
.section.healthcare-large {
    background-image: url(/img/just.webp);
    z-index: -3;
}

.section {
    background-position-x:center;
    background-repeat: none;
    background-attachment: fixed;
    font-size: 32px;
    background-clip:padding-box;
    background-size: cover;
    padding: 8em;
}
.section p, h2 {
    margin-left: 10%;
    margin-right: 10%;
    padding: 16px;
    margin-bottom: 0;
    margin-top: 0;
    background-color: #000a;
    border-radius: 10px;
    word-break: keep-all;
}
.section h2 {
    margin-bottom: 1em;
    align-content: center;
}